@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  font-family: 'Raleway', sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.top-section{
  grid-column: 2/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr;
  background-color: lightblue;
  height: 55px;
  padding: 5px;
  gap: 30px;
}

.top-section .search-section{
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-section .search-icon{
  width: 30px;
  height: auto;
  cursor: pointer;
  filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(321deg) brightness(106%) contrast(100%);
}
.search-section .search-bar{
  height: 30px;
  width: 200px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  transition-duration: 0.3s;
}
.search-section .search-bar:focus{
  width: 400px;
}
.top-section .account{
  grid-column: 3/-1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url('../img/photo_2022-06-30_18-42-06.jpg');
  background-size: cover;
  cursor: pointer;
  margin-right: 10px;
}

.nav-list{
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: rgb(16, 16, 32);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 0;
  gap: 30px;
  transition-duration: 0.2s;
  width: 65px;
}
.nav-list:hover{
  width: 200px;
}
.nav-list .icon{
  width: 30px;
  height: auto;
  filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(321deg) brightness(106%) contrast(100%);
}
.nav-list div{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  color: #ffffff;
  transition-duration: 0.2s;
  width: 100%;
  padding: 5px 16px;
}
.nav-list div:hover{
  background-color:#ff00006c ;
}
.nav-list h3{
  visibility: hidden;
  width: 100%;
  padding-left: 10px;
  font-size: 1.3rem;
}
.nav-list .home{
  margin-top: 16px;
}
.nav-list .settings{
  margin-top: auto;
  margin-bottom: 10px;
}

.container{
  grid-column: 2/-1;
  grid-row: 2/-1;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
}
.form-container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.task-form{
  width: 30%;
  height: 300px;
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 10px;
  transform: scale(0);
  transition-duration: 0.3s;
}

.task-form .form-btns{
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.form-btns button{
  font-size: 1.2rem;
  width: 100px;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}

.form-btns .addBtn{
  background-color: lightgreen;
}

.form-btns .cancelBtn{
  background-color: lightcoral;
}

.tasks-container{
  grid-column: 1/2;
  grid-row: 2/-1;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.tasks-container .task-element{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.task-element .task-title{
  cursor: pointer;
}
.task-element .task-title:hover{
  text-decoration: underline;
}
.task-element .task-title.checked, .task-priority.checked{
  text-decoration: line-through;
  opacity: 0.5;
  cursor: default;
}
.tasks-container .addTaskBtn{
  background-color: #808080;
  font-size: 2.3rem;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
.task-delete-btn{
  background-image: url('../img/trash-can-outline.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  filter: invert(53%) sepia(11%) saturate(0%) hue-rotate(186deg) brightness(92%) contrast(79%);
  cursor: pointer;
  
}
.task-delete-btn:hover{
  filter: invert(9%) sepia(96%) saturate(5625%) hue-rotate(2deg) brightness(97%) contrast(113%);
}

.sidebar{
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;

}